application-dev.yml
application-template.yml
application-test.yml
test.sh

target/*
target
*.iml
.idea

rebel.xml
release.properties
nginx/conf/nginx.conf
pom.xml.releaseBackup

logs
oiva-backend.log*
