body {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
}

@page {
    margin: 2cm;
    font-size: 13px;
    @top-center {
        font-family: arial, helvetica, sans-serif;
        content: string(pagediaari);
        font-size: 12px;
        color: DarkGrey;
    }
}

@page:first {
    margin: 1cm 2cm 2.5cm 2cm;
    @top-center {
        font-family: arial, helvetica, sans-serif;
        content: " ";
    }
    @bottom-left {
        width: 660px;
        content: element(footer);
    }
}

#diaari-placeholder {
    string-set: pagediaari content();
    display: none;
}

#debug-legends {
    display: none;
}

#wrapper {
    margin: 0px auto;
    padding: 10px;
}

#page-header {
    height: 230px;
}

#page-header-left {
    width: 250px;
    float: left;
}

#page-header-left .logo {
    width: 40%;
}

#page-header-center {
    margin-left: 0px;
    width: 140px;
    float: left;
}

#page-header-right {
    margin-left: 10px;
    width: 150px;
    float: left;
    text-align: right;
    margin-top: 20px;
}

#page-footer {
    display: block;
    position: running(footer);
    font-size: 10px;
    color: DarkGrey;
}

#page-footer-left {
    width: 265px;
    float: left;
}

#page-footer-center {
    margin-left: 0px;
    width: 265px;
    float: left;
}

#page-footer-right {
    margin-left: 0px;
    width: 110px;
    float: left;
    text-align: right;
}

#koulutustehtavaPage {
    page-break-before: always;
}

.sector {
    display: table;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%
}

.sector-left {
    display: table-cell;
    width: 15%;
}

.sector-right {
    display: table-cell;
}

ul.none {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.koulutusala {
    font-style: italic;
    margin-left: 5px;
    margin-bottom: 15px;
}

.koulutusala-otsikko {
    page-break-after: avoid;
}

.koulutus {
    font-style: normal;
    margin-left: 15px;
    margin-top: 5px;
}

.koulutusKokeilu {
    font-style: normal;
    margin-left: 25px;
}

.osaamisala {
    font-style: normal;
    margin-left: 25px;
}

.osaamisalaKokeilu {
    font-style: normal;
    margin-left: 35px;
}

.otsikko {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    page-break-after: avoid;
}

.sisalto {
    margin-top: 10px;
    margin-bottom: 10px;
}

.maaraystyyppiotsikko {
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    page-break-after: avoid;
}
.maarays-rivi {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.sisennys {
    margin-left: 20px;
}

.muutosperusteluosio {
    margin-left: 25px;
}

.muutosperusteluosio div.perustelutosio-fi > p:first-child:before {
    content: 'Perustelut: ';
    font-style: italic;
}

.paatoskohtainenTeksti {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ministeri {
    display: table;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    page-break-after: avoid;
}

.ministeri-left {
    display: table-cell;
    width: 50%;
}

.ministeri-right {
    display: table-cell;
}

.esittelija {
    display: table;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 10px;
    page-break-before: avoid;
}

.esittelija-left {
    display: table-cell;
    width: 50%;
}

.esittelija-right {
    display: table-cell;
}

.taulukko_opiskelijamaara {
    display: table;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    page-break-inside: avoid;
}

.rivi {
    display: table-row;
    width: 100%;
}

.solu_levea {
    display: table-cell;
    width: 60%;
}

.solu_kapea {
    display: table-cell;
    text-align: center;
}

.solu_kapea_bold {
    display: table-cell;
    text-align: center;
    font-weight: bold;
}

.muutMaarayksetOtsikko {
    font-style: italic;
    margin-top: 20px;
    page-break-after: avoid;
}

.muutMaarayksetSelite {
    margin-top: 10px;
}

.liitteenAlku {
    font-weight: bold;
}

#kuljettajakoulutusPage {
    page-break-before: always;
}

.kuljettajakoulutusOtsikko {
    font-weight: bold;
    margin-top: 20px;
}

.kuljettajakoulutusSelite {
    margin-top: 10px;
}

/*
 * Output
 **********************************/
.web .pdf-only {
    display: none;
}
.pdf .web-only {
    display: none;
}

/*
 * Debug
 **********************************/
.debug #debug-legends {
    display: block;
    margin-bottom: 10px;
}
.debug #debug-legends::before {
    content: "Debug mode legends:";
    font-weight: bold;
    font-size: 1em;
}
.debug #debug-legends span {
    margin-top: 5px;
    display: inline-block;
}
.debug #page-header {
    border: 1px solid gray;
    margin-bottom: 10px;
}
.debug #page-footer {
    border: 1px solid gray;
    height: 40px;
    margin-bottom: 10px;
}
.debug #content {
     border: 1px solid gray;
    margin-bottom: 10px;
 }
.debug #footer {
    border: 1px solid gray;
}
.debug .data {
    background: #e4ffe4;
}
.debug .if {
    border: 2px solid #e171e1;
}
.debug .loop {
    border: 2px solid #50c1f6;
}
.debug .todo {
    border: 2px solid #d27d7d;
}