<html class="{{ output }}{% if debug %} debug{% endif %}">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ baseUri }}/styles/base.css" />
    </head>
    <body>
        <div id="debug-legends">
            <br /><span class="data">Data placeholder</span>
            <br /><span class="if">Conditional-statement such as if-else</span>
            <br /><span class="loop">Loop-statement such as for</span>
            <br /><span class="todo">Todo</span>
        </div>
        <div id="wrapper">
            <div id="header">
                {% block header %}{% endblock %}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div id="footer">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </body>
</html>