
<div class="sector">
    <div class="sector-left">Viite</div>
    <div class="sector-right">

    </div>
</div>

<div class="sector">
    <div class="sector-left">Asia</div>
    <div class="sector-right">
        <h4>Ammatillisen koulutuksen järjestämislupa</h4>
        <p>
            Koulutuksen järjestäjälle on myönnetty ammatillisesta koulutuksesta annetun lain (mikä laki ja mitkä pykälät?!)
            nojalla ammatillisen koulutuksen järjestämislupa <span class="data">{{ lupa.paatospvm | date("dd.MM.yyyy") }}</span> päivätyllä opetus-
            ja kulttuuriministeriön päätöksellä <span class="data">{{ lupa.diaarinumero }}</span>.
        </p>
        <div class="paatoskohtainenTeksti">
            <span class="data">{{ lupa.meta | field("paatosteksti") | translated }}</span>
        </div>
        <p>
            Tämän päätöksen määräyksiä sovelletaan <span class="data">{{ lupa.alkupvm | date("dd.MM.yyyy") }}</span> alkaen.
        </p>
        <p>
            <b>Säädökset, joihin päätös perustuu:</b><br/>
            <span class="if">
                {% if lupa.maaraykset | sallittuKohde("tagi_kokeilu") is notBlank %}
                    <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
                {% else %}
                    <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
                {% endif %}
            </span>
            <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
            <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
            <span class="if">
                {% if lupa.maaraykset | sallittuKohde("tagi_kuljettajakoulutus") is notBlank %}
                    Kuorma- ja linja-auton kuljettajien ammattipätevyydestä <span class="todo">Mikä laki ja mitkä pykälät?!</span>
                {% endif %}
            </span>
        </p>
        <p>
            {% include fromDefault("maksu") %}
        </p>
        <p>
            <b>Muutoksenhaku:</b><br/>
            <span class="todo">TODO: refaktorointi</span>
            Tähän päätökseen saa hakea muutosta valittamalla
            <span class="todo">
            {% if hallintooikeus == "hki" %} Helsingin
            {% elseif hallintooikeus == "hml" %} Hämeenlinnan
            {% elseif hallintooikeus == "ita" %} Itä-Suomen
            {% elseif hallintooikeus == "poh" %} Pohjois-Suomen
            {% elseif hallintooikeus == "tku" %} Turun
            {% elseif hallintooikeus == "vsa" %} Vaasan
            {% else %} korkeimpaan
            {% endif %}
            </span>
            hallinto-oikeuteen.
            Valitus saadaan tehdä sillä perusteella, että päätös on lain vastainen. Valitusaika on 30 päivää
            tiedoksisaannista. Liitteenä olevasta valitusosoituksesta ilmenee, miten muutosta haettaessa on
            meneteltävä.
        </p>

        <div class="ministeri">
            <div class="ministeri-left">
                <span class="data">{{ lupa.meta | fieldvalue("ministeri_nimeke") }}</span>
            </div>
            <div class="ministeri-right">
                <span class="data">{{ lupa.meta | fieldvalue("ministeri_nimi") }}</span>
            </div>
        </div>
        <div class="esittelija">
            <div class="esittelija-left">
                <span class="data">{{ lupa.meta | fieldvalue("esittelija_nimeke") }}</span>
            </div>
            <div class="esittelija-right">
                <span class="data">{{ lupa.meta | fieldvalue("esittelija_nimi") }}</span>
            </div>
        </div>
    </div>
</div>

<div class="sector">
    <div class="sector-left">Liitteet</div>
    <div class="sector-right">
        <ul class="none">
            {% if lupa.maaraykset | sallittuKohde("tagi_kuljettajakoulutus") is notBlank %}
                <li>
                    <span class="if">Lupa toimia kuorma- ja linja-autonkuljettajien ammattipätevyyskoulutusta antavana koulutuskeskuksena</span>
                </li>
            {% endif %}
            {% if lupa.maksu %}
                <li>
                    <span class="if">Maksua koskeva oikaisuvaatimusosoitus 15/091/2016</span>
                </li>
            {% endif %}
            <li>
                <span class="todo">TODO: Valitusosoitus (oikean alueen mukainen)</span>
            </li>
        </ul>
    </div>
</div>

<div class="sector">
    <div class="sector-left">Tiedoksi</div>
    <div class="sector-right">
        <ul class="none">
            <li>Opetushallitus</li>
            <li>Opetushallitus/Koulutustoimialan palvelut</li>
            <li>Tilastokeskus</li>
            {% if lupa.maaraykset | sallittuKohde("tagi_kuljettajakoulutus") is notBlank %}
                <li>
                    <span class="if">Trafi</span>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

<div id="koulutustehtavaPage">
    <h3>KOULUTUKSEN JÄRJESTÄMISLUPA</h3>

    <!-- Tutkinnot ja koulutukset -->
    {% if lupa.maaraykset | kohde("tutkinnotjakoulutukset") is notBlank %}
        <div class="otsikko">1) Tutkinnot ja koulutukset</div>
        <div class="sisalto">
            Koulutuksen järjestäjällä on oikeus myöntää seuraavia tutkintoja ja antaa niihin tutkintokoulutusta sekä järjestää niihin ammatillista osaamista täydentävää ja syventävää koulutusta
            {% if lupa.maaraykset | velvoiteKohde("tutkinnotjakoulutukset") | koodisto("koulutus") is notBlank %}
                <div class="maaraystyyppiotsikko">Velvollisuudet</div>
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | velvoiteKohde("tutkinnotjakoulutukset") | koodisto("koulutus") %}
                        <li>
                            <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if lupa.maaraykset | oikeusKohde("tutkinnotjakoulutukset") | koodisto("koulutus") is notBlank %}
                <div class="maaraystyyppiotsikko">Oikeudet</div>
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | oikeusKohde("tutkinnotjakoulutukset") | koodisto("koulutus") %}
                        <li>
                            <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if lupa.maaraykset | rajoiteKohde("tutkinnotjakoulutukset") | koodisto("koulutus") is notBlank %}
                <div class="maaraystyyppiotsikko">Rajoitus</div>
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | rajoiteKohde("tutkinnotjakoulutukset") | koodisto("koulutus") %}
                        <li>
                            <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if lupa.maaraykset | kohde("tutkinnotjakoulutukset") | koodisto("oivatyovoimakoulutus") is notBlank %}
                <div class="rivi">Työvoimakoulutus</div>
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | kohde("tutkinnotjakoulutukset") | koodisto("oivatyovoimakoulutus") %}
                        <li>
                            <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}

    <!-- Opetus- ja tutkintokieli -->
    {% if lupa.maaraykset | kohde("opetusjatutkintokieli") is notBlank %}
        <div class="otsikko">2) Opetus- ja tutkintokieli</div>
        <div class="sisalto">
            {% if lupa.maaraykset | velvoiteKohde("opetusjatutkintokieli") is notBlank %}
                <div class="maaraystyyppiotsikko">Velvollisuudet</div>
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | velvoiteKohde("opetusjatutkintokieli") %}
                    <li>
                        <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if lupa.maaraykset | oikeusKohde("opetusjatutkintokieli") is notBlank %}
                <div class="maaraystyyppiotsikko">Oikeudet</div>
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | oikeusKohde("opetusjatutkintokieli") %}
                    <li>
                        <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if lupa.maaraykset | rajoiteKohde("opetusjatutkintokieli") is notBlank %}
                <div class="maaraystyyppiotsikko">Rajoitukset</div>
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | rajoiteKohde("opetusjatutkintokieli") %}
                    <li>
                        <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}

    <!-- Toiminta-alue -->
    {% if lupa.maaraykset | kohde("toimintaalue") is notBlank %}
        <div class="otsikko">3) Toiminta-alue</div>
        <div class="sisalto">
            {% if lupa.maaraykset | velvoiteKohde("toimintaalue") is notBlank %}
                Koulutuksen järjestäjällä on velvollisuus järjestäjää tutkintoja ja koulutusta ensisijaisesti seuraavien alueiden osaamis- ja koulutustarpeeseen:
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | velvoiteKohde("toimintaalue") %}
                        <li>
                            <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if lupa.maaraykset | rajoiteKohde("toimintaalue") is notBlank %}
                Tutkintoja ja koulutusta saa lisäksi järjestää myös muualla Suomessa lukuun ottamatta seuraavia toiminta-alueita:
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | rajoiteKohde("toimintaalue") %}
                        <li>
                            <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                Tutkintoja ja koulutusta saa lisäksi järjestää myös muualla Suomessa.
            {% endif %}
        </div>
    {% endif %}

    <!-- Opiskelijavuodet -->
    {% if lupa.maaraykset | kohde("opiskelijavuodet") is notBlank %}
        <div class="otsikko">4) Opiskelijavuodet</div>
        <div class="sisalto">
            <span class="loop">
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | sallittuKohde("opiskelijavuodet") | withOnlyArvo %}
                        <li>
                            Opiskelijavuosien vähimmäismäärä: <span class="data">{{ maarays.arvo }}</span>
                        </li>
                    {% endfor %}
                </ul>
                {% if lupa.maaraykset | rajoiteKohde("opiskelijavuodet") | withKoodiAndArvo is notBlank %}
                    <div class="maaraystyyppiotsikko">Rajoitteet</div>
                    <ul class="loop">
                        {% for maarays in lupa.maaraykset | rajoiteKohde("opiskelijavuodet") | withKoodiAndArvo %}
                            <li>
                                <span class="data">{{ maarays.koodi.teksti | translated }}</span> enintään: <span class="data">{{ maarays.arvo }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </span>
        </div>
    {% endif %}

    <!-- Muut -->
    {% if lupa.maaraykset | kohde("muut") is notBlank %}
        <div class="otsikko">5) Muut oikeudet, velvollisuudet, ehdot ja tehtävät</div>
        <div class="sisalto">
            {% if lupa.maaraykset | velvoiteKohde("muut") is notBlank %}
                <div class="maaraystyyppiotsikko">Velvollisuudet</div>
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | velvoiteKohde("muut") %}
                    <li>
                        <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if lupa.maaraykset | oikeusKohde("muut") is notBlank %}
                <div class="maaraystyyppiotsikko">Oikeudet</div>
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | oikeusKohde("muut") %}
                        <li>
                            <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if lupa.maaraykset | rajoiteKohde("muut") is notBlank %}
                <div class="maaraystyyppiotsikko">Rajoitukset</div>
                <ul class="loop">
                    {% for maarays in lupa.maaraykset | rajoiteKohde("muut") %}
                        <li>
                            <span class="data">{{ maarays.koodi.teksti | translated }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
</div>