
<div class="sector">
    <div class="sector-left">Viite</div>
    <div class="sector-right">

    </div>
</div>

<div class="sector">
    <div class="sector-left">Asia</div>
    <div class="sector-right">
        <h4>Ammatillisen koulutuksen järjestämislupa</h4>
        <p>
            Koulutuksen järjestäjälle on myönnetty ammatillisesta koulutuksesta annetun lain (mikä laki ja mitkä pykälät?!)
            nojalla ammatillisen koulutuksen järjestämislupa <span class="data">{{ lupa.paatospvm | date("dd.MM.yyyy") }}</span> päivätyllä opetus-
            ja kulttuuriministeriön päätöksellä <span class="data">{{ lupa.diaarinumero }}</span>.
        </p>
        <div class="paatoskohtainenTeksti">
            <span class="data">{{ lupa.meta | field("paatosteksti") | translated }}</span>
        </div>
        <p>
            Tämän päätöksen määräyksiä sovelletaan <span class="data">{{ lupa.alkupvm | date("dd.MM.yyyy") }}</span> alkaen.
        </p>
        <p>
            <b>Säädökset, joihin päätös perustuu:</b><br/>
            <span class="if">
                {% if lupa.maaraykset | sallittuKohde("tagi_kokeilu") is notBlank %}
                    <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
                {% else %}
                    <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
                {% endif %}
            </span>
            <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
            <span class="todo">Mikä laki ja mitkä pykälät?!</span><br/>
            <span class="if">
                {% if lupa.maaraykset | sallittuKohde("tutkinnotjakoulutukset") | koodisto("kuljettajakoulutus") is notBlank %}
                    Kuorma- ja linja-auton kuljettajien ammattipätevyydestä <span class="todo">Mikä laki ja mitkä pykälät?!</span>
                {% endif %}
            </span>
        </p>
        <p>
            {% include fromDefault("maksu") %}
        </p>
        <p>
            <b>Muutoksenhaku:</b><br/>
            <span class="todo">TODO: refaktorointi</span>
            Tähän päätökseen saa hakea muutosta valittamalla
            <span class="todo">
            {% if hallintooikeus == "hki" %} Helsingin
            {% elseif hallintooikeus == "hml" %} Hämeenlinnan
            {% elseif hallintooikeus == "ita" %} Itä-Suomen
            {% elseif hallintooikeus == "poh" %} Pohjois-Suomen
            {% elseif hallintooikeus == "tku" %} Turun
            {% elseif hallintooikeus == "vsa" %} Vaasan
            {% else %} korkeimpaan
            {% endif %}
            </span>
            hallinto-oikeuteen.
            Valitus saadaan tehdä sillä perusteella, että päätös on lain vastainen. Valitusaika on 30 päivää
            tiedoksisaannista. Liitteenä olevasta valitusosoituksesta ilmenee, miten muutosta haettaessa on
            meneteltävä.
        </p>

        <div class="ministeri">
            <div class="ministeri-left">
                <span class="data">{{ lupa.meta | fieldvalue("ministeri_nimeke") }}</span>
            </div>
            <div class="ministeri-right">
                <span class="data">{{ lupa.meta | fieldvalue("ministeri_nimi") }}</span>
            </div>
        </div>
        <div class="esittelija">
            <div class="esittelija-left">
                <span class="data">{{ lupa.meta | fieldvalue("esittelija_nimeke") }}</span>
            </div>
            <div class="esittelija-right">
                <span class="data">{{ lupa.meta | fieldvalue("esittelija_nimi") }}</span>
            </div>
        </div>
    </div>
</div>

<div class="sector">
    <div class="sector-left">Liitteet</div>
    <div class="sector-right">
        <ul class="none">
            {% if lupa.maaraykset | sallittuKohde("tutkinnotjakoulutukset") | koodisto("kuljettajakoulutus") is notBlank %}
                <li>
                    <span class="if">Lupa toimia kuorma- ja linja-autonkuljettajien ammattipätevyyskoulutusta antavana koulutuskeskuksena</span>
                </li>
            {% endif %}
            {% if lupa.maksu %}
                <li>
                    <span class="if">Maksua koskeva oikaisuvaatimusosoitus 15/091/2016</span>
                </li>
            {% endif %}
            <li>
                <span class="todo">TODO: Valitusosoitus (oikean alueen mukainen)</span>
            </li>
        </ul>
    </div>
</div>

<div class="sector">
    <div class="sector-left">Tiedoksi</div>
    <div class="sector-right">
        <ul class="none">
            <li>Opetushallitus</li>
            <li>Opetushallitus/Koulutustoimialan palvelut</li>
            <li>Tilastokeskus</li>
            {% if lupa.maaraykset | sallittuKohde("tagi_kuljettajakoulutus") is notBlank %}
                <li>
                    <span class="if">Trafi</span>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

<div id="koulutustehtavaPage">
    <h3>KOULUTUKSEN JÄRJESTÄMISLUPA</h3>

    <!-- Tutkinnot ja koulutukset -->

    <div class="otsikko">1) Tutkinnot ja koulutukset</div>
    <div class="sisalto">
        <div class="maarays-rivi">
            Koulutuksen järjestäjällä on oikeus myöntää seuraavia tutkintoja ja antaa niihin tutkintokoulutusta sekä
            järjestää niihin ammatillista osaamista täydentävää ja syventävää koulutusta.
        </div>

        <!-- Ammatilliset perustutkinnot -->
        <div class="if">
            {% if lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_1"]) is notBlank %}
                <div class="maaraystyyppiotsikko">Ammatilliset perustutkinnot</div>

                <!-- oikeus -->
                <div class="maarays-rivi sisennys">
                    {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:oikeus", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_1"]) %}
                        <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated }}</span><br/>
                    {% endfor %}
                </div>

                <!-- velvoite -->
                <div class="if">
                    {% if lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_1"]) is notBlank %}
                        <div class="maarays-rivi sisennys">Velvollisuus:</div>
                        <div class="maarays-rivi sisennys">
                            {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_1"]) %}
                                <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated }}</span><br/>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- rajoite -->
                <div class="if">
                    {% if lupa.maaraykset | maaraysFilter(["tyyppi:rajoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_1"]) is notBlank %}
                        <div class="maarays-rivi sisennys">Rajoite:</div>
                        <div class="maarays-rivi sisennys">
                            {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:rajoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_1"]) %}
                                <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated }}</span><br/>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <!-- Ammattitutkinnot -->
        <div class="if">
            {% if lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_11"]) is notBlank %}
                <div class="maaraystyyppiotsikko">Ammattitutkinnot</div>

                <!-- oikeus -->
                <div class="maarays-rivi sisennys">
                    {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:oikeus", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_11"]) %}
                        <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated }}</span><br/>
                    {% endfor %}
                </div>

                <!-- velvoite -->
                <div class="if">
                    {% if lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_11"]) is notBlank %}
                        <div class="maarays-rivi sisennys">Velvollisuus:</div>
                        <div class="maarays-rivi sisennys">
                            {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_11"]) %}
                                <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated }}</span><br/>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- rajoite -->
                <div class="if">
                    {% if lupa.maaraykset | maaraysFilter(["tyyppi:rajoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_11"]) is notBlank %}
                        <div class="maarays-rivi sisennys">Rajoite:</div>
                        <div class="maarays-rivi sisennys">
                            {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:rajoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_11"]) %}
                                <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated }}</span><br/>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <!-- Erikoisammattitutkinnot -->
        <div class="if">
            {% if lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_12"]) is notBlank %}
                <div class="maaraystyyppiotsikko">Erikoisammattitutkinnot</div>

                <!-- oikeus -->
                <div class="maarays-rivi sisennys">
                    {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:oikeus", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_12"]) %}
                        <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated }}</span><br/>
                    {% endfor %}
                </div>

                <!-- velvoite -->
                <div class="if">
                    {% if lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_12"]) is notBlank %}
                        <div class="maarays-rivi sisennys">Velvollisuus:</div>
                        <div class="maarays-rivi sisennys">
                            {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_12"]) %}
                                <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- rajoite -->
                <div class="if">
                    {% if lupa.maaraykset | maaraysFilter(["tyyppi:rajoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_12"]) is notBlank %}
                        <div class="maarays-rivi sisennys">Rajoite:</div>
                        <div class="maarays-rivi sisennys">
                            {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:rajoite", "kohde:tutkinnotjakoulutukset", "koodisto:koulutus", "ylakoodi:koulutustyyppi_12"]) %}
                                <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="if">
            {% if lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:oivatyovoimakoulutus"]) is notBlank %}
                <div class="maaraystyyppiotsikko">Työvoimakoulutus</div>
                <div class="maarays-rivi sisennys">
                    {% for maarays in lupa.maaraykset | maaraysFilter(["kohde:tutkinnotjakoulutukset", "koodisto:oivatyovoimakoulutus"]) %}
                        <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated }}{{ maarays.koodi.kuvaus | translated | withColonPrefix }}</span><br/>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Opetus- ja tutkintokieli -->
    <div class="otsikko">2) Opetus- ja tutkintokieli</div>
    <div class="sisalto">

        <!-- Oppilaitoksen opetuskieli -->
        {% if lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:opetusjatutkintokieli", "koodisto:oppilaitoksenopetuskieli"]) is notBlank %}
            <div class="maarays-rivi sisennys">
                {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:opetusjatutkintokieli", "koodisto:oppilaitoksenopetuskieli"]) %}
                    <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated | comma }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <!-- TODO -->

        <!-- muut opetuskielet -->
        <div class="if">
            {% if lupa.maaraykset | maaraysFilter(["tyyppi:velvoite|oikeus", "kohde:opetusjatutkintokieli", "koodisto:~oppilaitoksenopetuskieli"]) is notBlank %}
                <div class="maarays-rivi sisennys">
                    Lisäksi seuraavat tehtävät:
                </div>
                <div class="maarays-rivi sisennys">
                    {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:velvoite|oikeus", "kohde:opetusjatutkintokieli", "koodisto:~oppilaitoksenopetuskieli"]) %}
                        <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated | comma }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Rajoitukset -->
        <div class="if">
            {% if lupa.maaraykset | maaraysFilter(["tyyppi:rajoite", "kohde:opetusjatutkintokieli", "koodisto:~oppilaitoksenopetuskieli"]) is notBlank %}
                <div class="maarays-rivi sisennys">
                    Rajoitukset:
                </div>
                <div class="maarays-rivi sisennys">
                    {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:rajoite", "kohde:opetusjatutkintokieli", "koodisto:~oppilaitoksenopetuskieli"]) %}
                        <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated | comma }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Toiminta-alue -->
    <div class="otsikko">3) Toiminta-alue</div>
    <div class="sisalto if">
        {% if lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:toimintaalue"]) is notBlank %}
            <div class="maarays-rivi">
                Koulutuksen järjestäjällä on velvollisuus järjestäjää tutkintoja ja koulutusta ensisijaisesti seuraavien alueiden osaamis- ja koulutustarpeeseen:
            </div>

            <!-- Maakunnat -->
            <div class="maarays-rivi sisennys">
                {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:toimintaalue", "koodisto:maakunta"]) %}
                    <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated | comma }}</span>
                {% endfor %}
            </div>

            <!-- Kunnat -->
            <div class="maarays-rivi sisennys">
                {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:velvoite", "kohde:toimintaalue", "koodisto:kunta"]) %}
                    <span class="data loop {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated | comma }}</span>
                {% endfor %}
            </div>

            <div class="maarays-rivi">
                Tutkintoja ja koulutusta saa lisäksi järjestää Ahvenanmaan maakuntaa lukuun ottamatta myös muualla Suomessa.
            </div>
        {% else %}
            <div class="maarays-rivi">
                Tutkintoja ja koulutusta saa järjestää Suomessa Ahvenanmaan maakuntaa lukuun ottamatta.
            </div>
        {% endif %}
    </div>

    <!-- Opiskelijavuodet -->
    <div class="otsikko">4) Opiskelijavuodet</div>
    <div class="sisalto">

        <!-- Koulutussektori opiskelijavuosien vähimmäis/enimmäismäärä -->
        {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:oikeus|rajoite", "kohde:opiskelijavuodet", "koodisto:koulutussektori"]) %}
            <div class="maarays-rivi sisennys loop {{ maarays.tyyppi }}">
                Opiskelijavuosien
                <span class="if">
                    {% if maarays.isMaaraystyyppi("oikeus") %} vähimmäismäärä: {% else %} enimmäismäärä: {% endif %}
                </span>
                <span class="data">{{ maarays.arvo }}</span>
            </div>
        {% endfor %}

        <!-- Muut opiskelijavuosien vähimmäis/enimmäismäärä -->
        {% for maarays in lupa.maaraykset | maaraysFilter(["tyyppi:oikeus|rajoite", "kohde:opiskelijavuodet", "koodisto:~koulutussektori"]) %}
            <div class="maarays-rivi sisennys loop {{ maarays.tyyppi }}">
                <span class="data">{{ maarays.koodi.nimi | translated }}</span>
                <span class="if">
                    {% if maarays.isMaaraystyyppi("oikeus") %} vähintään: {% else %} enintään: {% endif %}
                </span>
                <span class="data">{{ maarays.arvo }}</span>
            </div>
        {% endfor %}
    </div>

    <!-- Muut -->
    <div class="if">
        {% if lupa.maaraykset | maaraysFilter("kohde:muut") is notBlank %}
            <div class="otsikko">5) Muut oikeudet, velvollisuudet, ehdot ja tehtävät</div>
            <div class="sisalto">
                <div class="maarays-rivi sisennys loop">
                    {% for maarays in lupa.maaraykset | maaraysFilter("kohde:muut") %}
                        <span class="data {{ maarays.tyyppi }}">{{ maarays.koodi.nimi | translated }}{{ maarays.koodi.kuvaus | translated | withColonPrefix }}</span><br/>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
   </div>
</div>